.main {
    position: absolute;
    top: 4.6rem;
    display: grid;
    grid-gap: 2rem;
    margin: .5rem 3rem;
}

.main .fineprint {
    opacity: 0.8;
    font-size: small;
    width: 100%;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .main {
        margin: 0 2rem;
        overflow: visible;
        top: 7rem;
    }

    .main-page .text {
        width: 82rem;
    }

    .main .fineprint {
        padding: 3rem 0rem 2rem;
    }
}