:root {
    width: 100%;
    height: 100%;
    background: linear-gradient(210deg, #ffeedb 17%, #ffd3d3 60%);
    text-align: left;
    color: black;
    font-family: Inter, sans-serif;
    --pink: rgba(246, 158, 196, 1);
    --purple: rgba(161, 132, 186, 1);
    --beige: rgba(253, 249, 224, 1);
    --black: rgb(45, 0, 0);
}

body {
    margin: 0;
}

.border {
    border: 2px solid var(--black);
}