nav.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    background: linear-gradient(210deg, #ffeedb 17%, #ffd3d3 60%);
    width: 100%;
    border-bottom: 1.5px solid var(--black);
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav.navbar a {
    text-decoration: none;
    color: var(--black);
}

nav.navbar div {
    margin: 1rem;
}

.text-links, .img-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.img-link {
    position: absolute;
    right: 5px;
    margin: 2rem;
}

.link a img {
    align-self: center;
}

@media only screen and (max-width: 600px) {
    nav.navbar {
        height: 10%;
        top: 0px;
    }

    nav.navbar div {
        margin: .4rem;
    }

    .img-link .link a img {
        width: 35px;
    }
}