.bigProject {
    grid-column: 1 / 3;
}

.project, .bigProject {
    background-color: var(--beige);
}

@media only screen and (max-width: 600px) {
    .bigProject, .project {
        grid-column: 1;
        width: 100%;
    }
}